flows.json
[{"id":"3b187c45.c1d5e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8b12cf78.7a293","type":"watson-conversation-v1","z":"3b187c45.c1d5e4","name":"","workspaceid":"1b6a1bc8-a3cd-4d31-a51b-62d808ab0591","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":820,"y":160,"wires":[["3d7b2bf.edee7d4","11301ab8.dd1b15"]]},{"id":"d78ebe0c.639fc","type":"watson-speech-to-text","z":"3b187c45.c1d5e4","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"P6PIjLgrlPK8dVfwT1RExCUZl4W7YKfuA9WM24MqZ5xF","apikey":"P6PIjLgrlPK8dVfwT1RExCUZl4W7YKfuA9WM24MqZ5xF","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":508,"y":160,"wires":[["a6d80ed8.9223c"]]},{"id":"67c90277.42f1ec","type":"watson-text-to-speech","z":"3b187c45.c1d5e4","name":"","lang":"es-US","langhidden":"es-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-US_SofiaVoice","voicehidden":"es-LA_SofiaVoice","format":"audio/wav","password":"D3iXLPN-qSddMf3ztFrCsqbde2g8XSg18SJtbmpVCizK","apikey":"D3iXLPN-qSddMf3ztFrCsqbde2g8XSg18SJtbmpVCizK","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":220,"y":340,"wires":[["cd245a70.6ca508"]]},{"id":"b8455e10.4d2f4","type":"http in","z":"3b187c45.c1d5e4","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":217.5,"y":98,"wires":[["753b1ae9.e37684"]]},{"id":"b9d21ccd.028c6","type":"http response","z":"3b187c45.c1d5e4","name":"","statusCode":"","headers":{},"x":911,"y":233,"wires":[]},{"id":"753b1ae9.e37684","type":"change","z":"3b187c45.c1d5e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"req.query.usuario","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"},{"t":"set","p":"audio","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":383,"y":98,"wires":[["de8e134b.46994"]]},{"id":"e27a786.8f67e88","type":"function","z":"3b187c45.c1d5e4","name":"Response","func":"response = [];\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response[x] = {\"text\":msg.payload.output.text[x]};\n}\nmsg.payload =response;\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":233,"wires":[["30b3676d.971f78"]]},{"id":"de8e134b.46994","type":"switch","z":"3b187c45.c1d5e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https://cdn.fbsbx.com","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":546,"y":98,"wires":[["e408deee.d85b7"],["a6d80ed8.9223c"]]},{"id":"3d9961db.23e17e","type":"link out","z":"3b187c45.c1d5e4","name":"Convert","links":["aecfc49c.02bf48"],"x":820,"y":92,"wires":[]},{"id":"aecfc49c.02bf48","type":"link in","z":"3b187c45.c1d5e4","name":"Convert-in","links":["3d9961db.23e17e"],"x":135,"y":160,"wires":[["bf377e34.b1ea2"]]},{"id":"e408deee.d85b7","type":"function","z":"3b187c45.c1d5e4","name":"Audio=true","func":"flow.set(\"audio\",true);\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":92,"wires":[["3d9961db.23e17e"]]},{"id":"11301ab8.dd1b15","type":"switch","z":"3b187c45.c1d5e4","name":"","property":"audio","propertyType":"flow","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":241,"wires":[["e27a786.8f67e88"],["58a40d2e.38bb44"]]},{"id":"cd245a70.6ca508","type":"function","z":"3b187c45.c1d5e4","name":"Create Unique ID","func":"flow.set(\"idAudio\",0);\nflow.set(\"idAudio\", Math.floor((Math.random() * 100000000000) + 1));\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["715bbb9c.04f6d4"]]},{"id":"41ed5b3c.b0fe24","type":"http in","z":"3b187c45.c1d5e4","name":"","url":"/facebook/speech","method":"get","upload":false,"swaggerDoc":"","x":269.5,"y":445,"wires":[["783b4583.32a66c"]]},{"id":"f88332e8.9c687","type":"http response","z":"3b187c45.c1d5e4","name":"","statusCode":"","headers":{"content-type":"audio/mpeg3"},"x":777.5000038146973,"y":445.42852687835693,"wires":[]},{"id":"783b4583.32a66c","type":"change","z":"3b187c45.c1d5e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.audioid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480.2142639160156,"y":445.07142543792725,"wires":[["ce56109e.0df95"]]},{"id":"ce56109e.0df95","type":"function","z":"3b187c45.c1d5e4","name":"Response","func":"for(var k in flow.get(\"speech\")) {\n  if (flow.get(\"speech\")[k]._id == msg.payload) \n    {\n      msg.payload = flow.get(\"speech\")[k].speech;\n// Delete an item\n      flow.get(\"speech\").splice(k,1);\n      break;\n    } \n  }\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload.audio, 'utf8');\n//return msg;","outputs":1,"noerr":0,"x":645.6190567016602,"y":445.4285430908203,"wires":[["f88332e8.9c687"]]},{"id":"4886ddfe.8f20e4","type":"function","z":"3b187c45.c1d5e4","name":"Save in session","func":"var url = \"https://\" + msg.req.headers.host;\n\nif(!flow.get(\"speech\"))\n{\n    flow.set(\"speech\",[]);\n    flow.set(\"speech[0]\",{_id:flow.get(\"idAudio\").toString(),speech:msg.payload});\n}\nelse\n{\n    var pos;\n    pos = flow.get(\"speech\").length;\n    flow.set(\"speech[\" + pos + \"]\",{_id:flow.get(\"idAudio\").toString(),speech:msg.payload});\n}\n\nmsg.payload = [{\"attachment\":{\n    \"type\":\"audio\",\n    \"payload\":{\"url\":url+ \"/facebook/speech?audioid=\"+flow.get(\"idAudio\").toString()}\n    }\n}];\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":340,"wires":[["30b3676d.971f78"]]},{"id":"30b3676d.971f78","type":"function","z":"3b187c45.c1d5e4","name":"Restore state","func":"msg.res = flow.get(\"res\");\nflow.set(\"audio\",false);\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":233,"wires":[["b9d21ccd.028c6"]]},{"id":"fa777104.8b779","type":"comment","z":"3b187c45.c1d5e4","name":"Callback for facebook","info":"","x":271,"y":408,"wires":[]},{"id":"a6d80ed8.9223c","type":"function","z":"3b187c45.c1d5e4","name":"","func":"msg.additional_context = \n{\"nome\":msg.req.query.nome,\n \"sobrenome\":msg.req.query.sobrenome};\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["8b12cf78.7a293"]]},{"id":"3d7b2bf.edee7d4","type":"debug","z":"3b187c45.c1d5e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":80,"wires":[]},{"id":"58a40d2e.38bb44","type":"function","z":"3b187c45.c1d5e4","name":"Response","func":"response = \"\";\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response += '<p><s>' + msg.payload.output.text[x] + '</s></p><break time=\"1000ms\"/>';\n}\nmsg.payload =response;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["67c90277.42f1ec"]]},{"id":"bf377e34.b1ea2","type":"ffmpeg-conversion","z":"3b187c45.c1d5e4","name":"MP3 -> WAV","format":"wav","audiochannels":"mono","x":290,"y":160,"wires":[["d78ebe0c.639fc"]]},{"id":"715bbb9c.04f6d4","type":"ffmpeg-conversion","z":"3b187c45.c1d5e4","name":"WAV -> MP3","format":"mp3","audiochannels":"mono","x":660,"y":340,"wires":[["4886ddfe.8f20e4"]]}]